.btn {

    padding: 0.8rem;
    width: 15rem;
    font-size: 2rem;
    font-weight: 100;
    cursor: pointer;
    border-radius: 50rem;

}

.btn--red {
    background-color: rgb(190, 54, 54);
    color: white;
}

.btn--button {

    border: none;
    outline: none;

    &:active {

        border: none;
        outline: none;
    }
}